.group {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.task-info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent-color-800);
  font-size: small;

  .task-value {
    margin-left: 0.5rem;
    padding: 4px 6px;
    background-color: white;
    color: var(--accent-color-600);
    border-radius: 4px;
  }
}

.todo-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.no-todo-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color-600);
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-icon {
    font-size: 48px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50%;
  }

  .desc {
    margin-top: 12px;
    font-weight: 500;
  }

  .notify {
    font-size: small;
    margin-top: 6px;
    font-weight: 400;
  }
}
