<ng-container>
  <h1>Sign Up</h1>

  <div class="form-container">
    <div class="flex-column">
      <label>Name</label>
      <div class="input-box">
        <home-input-with-icon customClass="input-white" iconName="person" placeholder="Enter your name" />
      </div>
    </div>

    <div class="flex-column">
      <label>Email</label>
      <div class="input-box">
        <home-input-with-icon customClass="input-white" iconName="alternate_email" placeholder="Enter your Email" />
      </div>
    </div>

    <div class="flex-column">
      <label>Password</label>
      <div class="input-box">
        <home-input-with-icon type="password" customClass="input-white" iconName="key"
          placeholder="Enter your password" />
      </div>
    </div>

    <div class="flex-column">
      <label>Confirm Password</label>
      <div class="input-box">
        <home-input-with-icon type="password" customClass="input-white" iconName="key"
          placeholder="Confirm your password" />
      </div>
    </div>

    <home-button customClass="auth-btn">Sign Up</home-button>

    <p class="p">
      Do you have an account? <a [routerLink]="['/login']">Sign In</a>
    </p>

  </div>
</ng-container>
