.btn {
  border: none;
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  background-color: var(--accent-color-600);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
}
