<main id="home">
  <section class="container">
    <header style="color: white; text-align: center;">header</header>
    <main class="main">
      <h2>Your Tasks</h2>

      <home-search></home-search>

      <div class="task-info">
        <div>
          Total Tasks: <span class="task-value">0</span>
        </div>
        <div class="">
          Completed:
          <span class="task-value">
            <span>0</span> / <span>0</span>
          </span>
        </div>
      </div>

      <div class="add-todo">
        <home-button (clicked)="openDialog()" customClass="circle-btn">
          <mat-icon id="add-icon">add</mat-icon>
        </home-button>
      </div>
    </main>
  </section>

  <home-create-task [hidden]="hidden" (handleCancelEvent)="closeDialog()" />
</main>
z
