#home {
  position: relative;
  height: 100vh;
  background-color: var(--accent-color);
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 629px;
  padding: 2rem;
  margin-top: 2rem;
  background-color: var(--accent-color-900);
  border-radius: 1.5rem;

  h2 {
    font-size: 1.75rem;
    font-weight: lighter;
    text-align: center;
  }

  .todo-list {
    flex-grow: 1;
    overflow-y: auto;
  }

  .add-todo {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%) translateX(-50%);

    #add-icon {
      color: white;
    }
  }
}
