<main id="home">
  <section class="container">
    <app-header />

    <main class="main">
      <h2>Your Tasks</h2>

      <home-search />

      <div class="todo-list">
        <app-todo-list />
      </div>

      <div class="add-todo">
        <home-button (clicked)="openDialog()" customClass="circle-btn">
          <mat-icon id="add-icon">add</mat-icon>
        </home-button>
      </div>
    </main>
  </section>

  <app-dialog dialogClass="dialog-dark" [isVisible]="isVisible" (closeEvent)="onDialogClose()">
    <home-create-todo (handleCancelEvent)="onDialogClose()" />
  </app-dialog>
</main>
