h1 {
  font-size: x-large;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.input-box {
  margin-top: 4px;
}

.btn-submit {
  width: 100%;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.alert {
  color: red;
  font-size: small;
}
