
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #764FF7;
  --primary-color-200: #B49BF9;
  --primary-color-50: #EEE7FE;
  --accent-color: #121215;
  --accent-color-900: #18181C;
  --accent-color-800: #323235;
  --accent-color-600: #636366;
  --accent-color-400: #9C9C9E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
